/* Header config */
header {
    width: 100%;
    background-color: rgb(48, 102, 65);
    outline: #dcb291 solid 10px;
  }
    
  ul {
    text-align: right;
    height: 100px;
  }
  
  /* List items in navigation bar ----------------------*/
  li {
    font-size: 30px;
    display:inline;
    padding: 10px;
    color: beige;
    float:right;
  }

  li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none; 
  }
/* main webpage ----------------------------------------*/
  h1 {
    text-align: center;
    font-size: 50px;
    
  }
  
  /* section comming soon ------------------------------------------*/
  .comming-soon{
    width: 300px;
    background: #484544;
    margin: 5% auto;
    padding: 60px 0;border-style: solid;
    border-width: 10px;
    border-color: #dcb291;
    
  }

  h3{
    text-align: center;
    margin-bottom: 40px;
    font-size: 30px;
    color: #dcb291;
    border-style: solid;
    border-color: rgb(6, 54, 13);
  }

  p{
    text-align: center;
    margin-bottom: 40px;
    font-size: 30px;
    color: #484544;
  }

/* section Contact me-----------------------------*/
.box-contact{
  width: 100%;
  background-color: #dcb291;
  height:350px;
}

.log-box{
	width: 600px;
	margin: 5% auto;
	
}
h2{
	text-align: center;
	margin-bottom: 40px;
  font-size: 30px;
  
}
.input-user{
	margin: 20px auto;
	width: 80%;
	padding-top: 5px;
	padding-bottom: 5px;
  font-size: 30px;
  color: #414143;
}
.input-user input{
	width: 90%;
	border: none;
	outline: none;
	background:#fff;
	color: #fff;
}
	

.send-btn{
	text-decoration: none;
	color: #fff;
	background:#414143;
	cursor: pointer;
  font-size: 16px;
  padding: 10px 0;
	border: 1px solid #fff;
	cursor: pointer;
  margin: 40px auto 20px;
	width: 30%;
	display: block;
	outline: none;
}

.text-box{
	width: 100%;
	text-align: center;
	padding: 60px 0;
  
}
.text-box h4{
	color: #fff;
	margin-bottom: 25px;
	margin-top: 20px;
	font-weight: 600;
}
/* footer section ------------------------*/
h6 {
  color: #fff;
  font-size: 20px;
  display: block;
}

.footer{
	text-align: center;
  background-color: rgb(48, 102, 65);
  padding: 10px;
	margin-bottom: 25px;
	margin-top: 20px;
	
}