/* Header config */
header {
    width: 100%;
    background-color: rgb(48, 102, 65);
    border-bottom: 10px solid #dcb291;
  }
    
  ul {
    text-align: right;
    height: 100px;
  }
  
  /* List items in navigation bar ----------------------*/
  li {
    font-size: 30px;
    display:inline;
    padding: 10px;
    color: beige;
    float:right;
  }

  li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none; 
  }
  
  /* section comming soon ------------------------------------------*/

  h1 {
    text-align: center;
    font-size: 50px;
  }

  .box-0{
    border-style: solid;
    width: 600px;
    background: #484544;
    margin: 5% auto;
    padding: 30px 0;border-style: solid;
    border-width: 10px;
    border:none;
  }

  .box-1{
    border-style: solid;
    width: 500px;
    background: #484544;
    margin: 5% auto;
    padding: 25px 0;border-style: solid;
    border-width: 10px;
    border-color: #f7e7d1;
  }

  .box-2{
    border-style: solid;
    width: 400px;
    background: #484544;
    margin: 5% auto;
    padding: 20px 0;border-style: solid;
    border-width: 10px;
    border-color: #0a4e20;

  }

  .comming-soon{
    width: 300px;
    background: #484544;
    margin: 5% auto;
    padding: 60px 0;border-style: solid;
    border-width: 10px;
    border-color: #dcb291;
    
  }

  h3{
    text-align: center;
    margin-bottom: 40px;
    font-size: 30px;
    color: #f6f4f2;
    border-style: solid;
    width: 200px;
    background: #484544;
    margin: 5% auto;
    padding: 10px 0;border-style: solid;
    border-width: 5px;
    border-color: #012c02;
    
  }

  p{
    text-align: center;
    margin-bottom: 40px;
    font-size: 30px;
    color: #484544;
  }

/* section Contact me-----------------------------*/
.box-contact{
  width: 100%;
  background-color: #eed8c8;
  border-top: 5px solid #dcb291;
  margin-top: 200px;
  margin-bottom: -97px;
  padding-bottom: 10px;
}
.border {
  border-style: solid;
  border: 2px solid #dcb291;
  border-radius: 12px;
  border-width: 5px;
  
}

.log-box{
	width: 600px;
	margin: 5% auto;
  
}

h2{
	text-align: center;
  margin-top: -100px;
	margin-bottom: 10px;
  font-size: 60px;
  padding-top: 5px;
  position:
}

.input-user{
	margin: 20px auto;
	width: 80%;
	padding-top: 2px;
  font-size: 30px;
  color: #414143;
}
.input-user input{
	width: 90%;
	border: none;
	outline: none;
	
}
	
.send-btn{
	text-decoration: none;
	color: #fff;
	background:#414143;
	cursor: pointer;
  font-size: 16px;
  padding: 10px 0;
	border: 1px solid #fff;
	cursor: pointer;
  margin: 40px auto 20px;
	width: 30%;
	display: block;
	outline: none;
}

/* footer section ------------------------*/

h6 {
  color: #fff;
  font-size: 30px;
  display: block;
}

.footer{
	text-align: center;
  background-color: rgb(48, 102, 65);
  padding: 2px;
}